# Auto detect text files and perform LF normalization
*.js linguist-language=JavaScript
*.html linguist-language=JavaScript
examples/example_01/* linguist-vendored=false
examples/example_02/* linguist-vendored=false
examples/example_03/* linguist-vendored=false
examples/example_04/* linguist-vendored=false
examples/example_05/* linguist-vendored=false
examples/example_06/* linguist-vendored=false
*.js linguist-detectable=true
* text=auto
