@import "./styles/variables";
@import "./styles/animations";
@import "./styles/functions.scss";

body{
    margin: 0;
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./assets/low.png');
    background-size: 120% 120%;
    background-attachment: fixed;
    background-position: center;
    -webkit-font-smoothing: antiliased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    #background-pentagon-net{
        background: url('./assets/pentagonNet.png');
        background-repeat: round;
        width: 100vw;
        height: 100vh;
        opacity: 0.2;
        position: absolute;
    }
    .menu-wrapper{
        font-family: $fontFamily;
        position: relative;
        width: 20vw;
        height: 100vh;
        display: grid;
        grid-template-rows:autofit;
        grid-row-gap: 5vh;
        justify-items: end;
        text-align: center;
        z-index: 1;
        
    
        &-links{
            font-size: $menuFontSize;
            color: $textColorMain;
            text-shadow: rgb(0, 0, 0) 0px 0px 20px;
            grid-row-start: 2;
            grid-row-end: 3;
            justify-self: center;
            align-self: end;
            @include unselectable;
    
            &-link{
                margin-top: 2vh;
                &:hover{
                    animation: pulse;
                    @include pulse_animation;
                    cursor: pointer;
                }
            }    
        }
    
        &-copyrights{
            grid-row-start: 4;
            justify-self: center;
            align-self: center ;
            color: $textColorMain;
            font-size: $smallFont;
            cursor:none;
            @include unselectable;
            
        }
    }
    #about-component{
        position: relative;
        width: 78vw;
        height: 100vh;
        z-index: 1;
        display: grid;
        grid-template-areas: "name name name"
                             "webxr sp using";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 8rem auto;
        grid-gap: 2vw;
        color: $textColorMain;
        font-family: $fontFamily;
        #about-header{
            grid-area: name;
            font-size: $bigFont;
            justify-self: center;
            align-self: end;
            text-shadow: rgb(0, 0, 0) 0px 0px 15px;
        }
    }
    .component{
        position: relative;
        width: 78vw;
        height: 100vh;
        z-index: 1;
        display: grid;
        grid-template-areas: "name"
                             "holder";
        grid-template-columns: 1fr;
        grid-template-rows: 8rem auto;
        grid-gap: 2vw;
        color: $textColorMain;
        font-family: $fontFamily;
        &-header{
            grid-area: name;
            font-size: $bigFont;
            justify-self: center;
            align-self: end;
            text-shadow: rgb(0, 0, 0) 0px 0px 15px;
        }
        &-holder{         
            display: grid;
            grid-template-areas: "one two three"
                                "four five six";
            grid-template-columns: 1fr;
            grid-template-rows: 15fr 15fr;
            grid-gap: 5vw;
            justify-self: center;
            align-self: center;
            @include text_readable;
            font-size: $smallFont; 
            overflow-y: auto;  


            &-examples{
                width: 20rem;
                height: 15rem;
                background-color: rgba(0, 0, 0, 0.5);
                justify-content: space-around;
                border-radius: 5%;
            }

            #example-one{
                grid-area: one;
            }
            #example-two{
                grid-area: two;
            }
            #example-three{
                grid-area: three;
            }
            #example-four{
                grid-area: four;
            }
            #example-five{
                grid-area: five;
            }
            #example-six{
                grid-area: six;
            }
        }
        &-panel{
            justify-self: center;
            align-self: start;
            @include text_readable;
            text-align: left;
            font-size: $smallFont;
            padding: 25px 25px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5%;
            &-p{
                text-align: justify;
            }
        }
    }
}

