@import "./styles/variables";
@import "./styles/animations";
@import "./styles/functions.scss";

body{
    margin: 0;
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./assets/low.png');
    background-size: 120% 120%;
    background-attachment: fixed;
    background-position: center;
    -webkit-font-smoothing: antiliased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    #background-pentagon-net{
        background: url('./assets/pentagonNet.png');
        background-repeat: round;
        width: 100vw;
        height: 100vh;
        opacity: 0.2;
        position: absolute;
    }
    .menu-wrapper{
        font-family: $fontFamily;
        position: relative;
        width: 20vw;
        height: 100vh;
        display: grid;
        grid-template-rows:autofit;
        grid-row-gap: 5vh;
        justify-items: end;
        text-align: center;
        z-index: 1;
        
    
        &-links{
            font-size: $menuFontSize;
            color: $textColorMain;
            text-shadow: rgb(0, 0, 0) 0px 0px 20px;
            grid-row-start: 2;
            grid-row-end: 3;
            justify-self: center;
            align-self: end;
            @include unselectable;
    
            &-aboutProject{
                margin-top: 2vh;
                &:hover{
                    animation: pulse;
                    @include pulse_animation;
                    cursor: pointer;
                }
            }
    
            &-WebVR{
                margin-top: 2vh;
                &:hover{
                    animation: pulse;
                    @include pulse_animation;
                    cursor: pointer;
                }
            }
            &-WebAR{
                margin-top: 2vh;
                &:hover{
                    animation: pulse;
                    @include pulse_animation;
                    cursor: pointer;
                }
            }
            &-WebGL{
                margin-top: 2vh;
                
                &:hover{
                    animation: pulse;
                    @include pulse_animation;
                    cursor: pointer;
                }
            }
    
        }
    
        &-copyrights{
            grid-row-start: 4;
            justify-self: center;
            align-self: center ;
            color: $textColorMain;
            font-size: $smallFont;
            cursor:none;
            @include unselectable;
            
        }
    }

    .about-wrapper{
        position: relative;
        width: 78vw;
        height: 100vh;
        z-index: 1;
        display: grid;
        grid-template-areas: "name name name"
                             "webxr sp using";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5rem auto;
        grid-gap: 2vw;
        color: $textColorMain;
        font-family: $fontFamily;
        &-name{
            grid-area: name;
            font-size: $bigFont;
            justify-self: center;
            align-self: end;
            text-shadow: rgb(0, 0, 0) 0px 0px 15px;
        }
        &-webxr{
            grid-area: webxr;
            justify-self: center;
            align-self: start;
            @include text_readable;
            text-align: left;
            font-size: $smallFont;
            padding: 25px 25px;
            background-color: rgba(0, 0, 0, 0.5);
            &-p{
                text-align: justify;
            }
        }
        &-sp{
            grid-area: sp;
            justify-self: center;
            align-self: start;
            @include text_readable;
            text-align: left;
            font-size: $smallFont;;
            padding: 25px 25px;   
            background-color: rgba(0, 0, 0, 0.5);     
            &-p{
                text-align: justify;
            }
        }
        &-using{
            grid-area: using;
            justify-self: center;
            align-self: start;
            @include text_readable;
            text-align: left;
            font-size: $smallFont;;
            padding: 25px 25px;
            background-color: rgba(0, 0, 0, 0.5);
            &-p{
                text-align: justify;
    
            }
        }
    }
}