//text_properties
$textColorMain: #fdfdfb;
$menuFontSize: 1.5em;
$bigFont: 2em;
$smallFont: 1em;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
// colors
$sPalette-colorOne: #2b3a67;
$sPalette-colorTwo: #496a81;
$sPalette-colorThree: #66999b;
$sPalette-colorFour: #b3af8f;
$sPalette-colorFive: #ffc482;
